[submodule "thorin"]
	path = thorin
	url = git@github.com:AnyDSL/thorin.git
[submodule "impala"]
	path = impala
	url = git@github.com:AnyDSL/impala.git
[submodule "llvm"]
	path = llvm
	url = git@github.com:llvm-mirror/llvm.git
[submodule "clang"]
	path = llvm/tools/clang
	url = git@github.com:llvm-mirror/clang.git
