: ${THREADS:=2}
: ${LLVM_OPTIONS:="-DLLVM_PARALLEL_COMPILE_JOBS=4 -DLLVM_PARALLEL_LINK_JOBS=1"}
: ${BRANCH:=master}
: ${BUILD_TYPE:=Debug}
: ${FETCH_LLVM:=false}

# set this to true if you don't have a github account
: ${HTTPS:=false}
